/JavaApplication2/nbproject/private/
/JavaApplication2/dist/
/JavaApplication2/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/FibonacciSeq/nbproject/private/
/FibonacciSeq/dist/
/FibonacciSeq/build/
/LargestPrimeFactor/nbproject/private/
/LargestPrimeFactor/build/
/LargestPrimeFactor/dist/
/Palindrome/nbproject/private/
/Palindrome/build/
/Palindrome/dist/
/Euler120/nbproject/private/
/Euler120/dist/
/Euler120/build/
/Euler6problem/nbproject/private/
/Euler6problem/build/
/Euler6problem/dist/
/Euler7problem/nbproject/private/
/Euler7problem/build/
/Euler7problem/dist/
/SumPrime/nbproject/private/
/SumPrime/dist/
/SumPrime/build/
/QuickSort/nbproject/private/